{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block body %} 
	<form action="{{ url_for('day') }}" method="post">
		<div class="form-group">
			<label for="exampleFormControlSelect1">How much time would you like to dedicate today?</label>
			<select class="form-control" name="time_selected" id="exampleFormControlSelect1">
				<option>short</option>
				<option>medium</option>
				<option>long</option>
			</select>
			<button class="btn btn-info"> Submit </button>
		</div>
	</form>

{% endblock %}